@{
    ViewBag.Title = "About";
}
    <header id="top">
        <div class="text-vertical-top text-main header-stories">
            <h1>About</h1>
        </div>
    </header>
    <hr />
    <!-- Portfolio -->
    <section id="about">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-push-1 col-md-7 text-main">
                <p>
                    <strong>Storytelling Styling</strong>
                    by MARIE VAN PUYENBROECK is a personal portfolio & storybook<br />
                    where I want to tell my, your & our story through my styling.
                </p>
                <p>
                    My name is Marie Van Puyenbroeck.
                    (Yes, go ahead pronounce it however you like, I’m used to it).<br />
                    I am 22 years old and a communications graduate based
                    in Genk, Belgium.<br />
                    Go-getter as I am, I enjoy every minute
                    of my unstoppable journey, a personal story of my own.<br />
                    Meaning you will often find me with smiled cheeky cheeks.
                </p>
                <p>
                    While studying communications in Brussels and even going
                    abroad to Paris,<br />
                    I tried to choose my fashion path as much
                    as possible in order to expand my knowledge in the field,<br />
                    gain experience and learn: working for a
                    Belgian fashion house, doing sales in a boutique<br />
                    and being an intern for a PR & Event company.<br />
                </p>
                <p>
                    Even though, I felt the need to combine all this with creative expression.
                </p>
                <p>
                    So I followed my heart that has been longing
                    for fashion since I blew out the 12 candles on my pink cake.<br />
                    I traded Bruxelles Ma Belle for Eindhoven to start
                    my next chapter at B-Academy: styling it is, <br />
                    joining these loving Dutch folks.
                </p>
                <p>
                    I adore the visual world with her qualities, perceptions and stories. <br />
                    With MVP Storytelling Styling I want to connect with the world and converse with you by telling.<br />
                    This, while enjoying the journey and I hope you enjoy it with me.
                </p>
                <p>
                    I am open for every collaboration with you
                    to bring new stories to life.
                </p>
                <p>
                    Forever curious,<br />
                    I search content, I sense subjects, I style stories.
                </p>
                <p>
                    XO<br />
                    Marie
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <img src="~/images/aboutmarie.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="row text-center">
            <img src="~/images/logo-small.jpg" />
        </div>
    </section>
