
@{
    ViewBag.Title = "A New Utopia";
}
<!-- Header -->
<header id="top" class="header-stories anewutopia">
    <div class="text-vertical-center text-main">
        <h1>A New Utopia</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p>
            The issue with today’s society<br />
            is that our priorities are all<br />
            wrong. Instead of concentrating<br />
            on what’s really important,<br />
            we focus on individuals,<br />
            minority groups and their<br />
            choices. It shouldn’t matter<br />
            what someone looks like or<br />
            who they love as long as<br />
            they are good people.<br />
            When the end is near, when<br />
            the apocalypse hits us, all<br />
            of the other things<br />
            won’t matter anymore.<br /><br />
            that’s why we need<br />
            a new utopia. 
        </p>
    </div>
    <br />
    <br />
    <div class="text-vertical-top text-credits">
        <p>
            Published: <strong><a href="http://www.vulkanmagazine.com/a-new-utopia-by-marion-bracque/" target="_blank">Vulkan Magazine</a></strong><br />
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/1.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/1.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/2.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/9.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/9.jpg" />
                    </a>
                </div>

                <div class="grid-item">
                    <a href="~/images/anewutopia/4.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/4.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/7.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/7.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/13.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/13.jpg" />
                    </a>
                </div>

                <div class="grid-item">
                    <a href="~/images/anewutopia/8.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/8.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/11.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/11.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/15.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/15.jpg" />
                    </a>
                </div>

                <div class="grid-item">
                    <a href="~/images/anewutopia/12.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/12.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/16.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/16.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/14.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/14.jpg" />
                    </a>
                </div>

                <div class="grid-item">
                    <a href="~/images/anewutopia/6.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/6.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/10.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/10.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/18.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/18.jpg" />
                    </a>
                </div>

                <div class="grid-item">
                    <a href="~/images/anewutopia/20.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/20.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/19.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/19.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/anewutopia/3.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/3.jpg" />
                    </a>
                </div>

                <div class="grid-item two-grid-item">
                    <a href="~/images/anewutopia/5.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/5.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/anewutopia/17.jpg" data-lightbox="image-1">
                        <img src="~/images/anewutopia/17.jpg" />
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story by <strong><a href="http://www.marionbracque.com/" target="_blank">Marion Bracqué</a> & Marie Van Puyenbroeck</strong><br/><br />

                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://www.marionbracque.com/" target="_blank">Marion Bracqué</a></strong><br />
                Models: <strong>Thaïs - Sarah - Thomas - Gijs - Jan<br /><a href="https://www.facebook.com/theagent.be/" target="_blank">The Agent</a></strong><br />
                Muah: <strong>Sanne Schoofs from <a href="http://www.theartistoffice.be">The Artist Office</a> / <a href="www.dorienreyntjens.com">Dorien Reyntjens</a></strong>
                <br />
                <br />
                Designers: <strong><a href="http://www.jivikabiervliet.com/collections.html">Jivika Biervliet</a> / <a href="http://www.janinavolkmer.com">Janina Volkmer</a> / <a href="https://www.instagram.com/luigimilletari/">Luigi Milletari</a></strong>
            </p>
        </div>
    </div>
</section>
