
@{
    ViewBag.Title = "Holy White";
}
<!-- Header -->
<header id="top" class="header-stories holywhite">
    <div class="text-vertical-center text-main">
        <h1>Holy White</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p>
            <strong>White [</strong> wait <strong>]; -</strong><br />
            <strong>I.</strong> an achromatic color, a color without hue,<br />
            <strong>II.</strong> associated with perfection, the good, honesty, cleanliness, the beginning, the new, neutrality – Purity<br />
            <strong>III.</strong> important color for almost all world religions<br />
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered text-center">
            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                <div id="container"></div>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item two-grid-item">
                        <a href="~/images/marrakech/Marrakech 03-2016-5.jpg" data-lightbox="image-1">
                            <img src="~/images/marrakech/Marrakech 03-2016-5.jpg" />
                        </a>
                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story & Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://www.timroling.nl" target="_blank">Tim Röling</a></strong><br />
                Model: <strong>Tanja Kok</strong><br />
                MUAH: <strong><a href="http://www.daniellegrisel.nl" target="_blank">Daniëlle Grisèl</a></strong>
            </p>
        </div>
    </div>
</section>
