
@{
    ViewBag.Title = "Masked";
}
<!-- Header -->
<header id="top" class="header-stories masked">
    <div class="text-vertical-center text-main">
        <h1>We don't see things as they are<br />We see them as we are</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p>We don't see things as they are. We see them as we are.</p>
        <p>
            How do you?
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered text-center">
            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                <div id="container"></div>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item two-grid-item">
                        <a href="~/images/masked/Lieve.jpg" data-lightbox="image-1">
                            <img src="~/images/masked/Lieve.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</section>
<section id="credits" class="portfolio">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story & Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://www.timroling.nl" target="_blank">Tim Röling</a></strong><br />
                Model: <strong>Lieve Jansen</strong><br />
                MUAH: <strong><a href="http://www.daniellegrisel.nl" target="_blank">Daniëlle Grisèl</a></strong>
            </p>
        </div>
    </div>
</section>
