
@{
    ViewBag.Title = "Moodswings";
}
<!-- Header -->
<header id="top" class="header-stories moodswings">
    <div class="text-vertical-center text-main">
        <h1>Moodswings</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p>
            Conflicted or addicted<br />
            Completely twisted but convicted<br />
            Kiss beyond fantastic<br />
            With tongue so sarcastic<br />
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/moodswings/TestIMG_0269.JPG" data-lightbox="image-1">
                        <img src="~/images/moodswings/TestIMG_0269.JPG" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/moodswings/TestIMG_0275.JPG" data-lightbox="image-1">
                        <img src="~/images/moodswings/TestIMG_0275.JPG" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/moodswings/TestIMG_0332.JPG" data-lightbox="image-1">
                        <img src="~/images/moodswings/TestIMG_0332.JPG" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/moodswings/TestIMG_0421.JPG" data-lightbox="image-1">
                        <img src="~/images/moodswings/TestIMG_0421.JPG" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/moodswings/TestIMG_0428.JPG" data-lightbox="image-1">
                        <img src="~/images/moodswings/TestIMG_0428.JPG" />
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</section>
<!-- Credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story & Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://leenhoogmartens.tumblr.com" target="_blank">Leen Hoogmartens</a></strong><br />
                Model: <strong>Vroni – Flag Models</strong><br />
                MUAH: <strong>Rania Tilmidi & Saskia Eggels</strong>
            </p>
        </div>
    </div>
</section>
