
@{
    ViewBag.Title = "Queen Luisa";
}
<!-- Header -->
<header id="top" class="header-stories queenluisa">
    <div class="text-vertical-center text-main">
        <h1>Queen Luisa</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p>
            L'histoire d'une fille attirée par le monde du drame<br />
            Qui sait à se transformer dans un mannequin aspiré <br />
            <br />

            Waar Nederlandse zinsconstructie,<br />
            overgoten met het Waalse accent,<br />
            wordt afgewerkt met Engelse begrippen<br />
            Om te resulteren in universeel verstaanbare lichaamstaal<br />
            <br />
            <strong>About how visions interact to put Louise on her first throne</strong>
            <br />
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-2.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-3.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-3.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-5.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-5.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-7.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-7.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-8.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-8.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-6.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-6.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-12.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-12.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-9.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-9.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-10.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-10.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-11.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-11.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/queenluisa/Queen Luisa-4.jpg" data-lightbox="image-1">
                        <img src="~/images/queenluisa/Queen Luisa-4.jpg" />
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</section>
<!-- Credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story & Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://vincentvandendries.tumblr.com" target="_blank">Vincent Van den Dries</a></strong><br />
                Model: <strong>IMM MODEL MANAGEMENT</strong><br />
                MUAH: <strong><a href="https://www.be-au.be" target="_blank">Aurélie Bekaert</a></strong><br />
                <br />
                Published: <strong><a href="http://elegantmag.com/welcome/" target="_blank">Elegant Magazine</a></strong>   
            </p>
        </div>
    </div>
</section>
