
@{
    ViewBag.Title = "22.3 en Rose";
}
<!-- Header -->
<header id="top" class="header-stories enrose223">
    <div class="text-vertical-center text-main">
        <h1>22.3 en Rose</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#story" class="btn btn-dark btn-lg">See story</a>
    </div>
</header>
<!-- Story -->
<section id="story">
    <div class="text-vertical-top text-story">
        <h2></h2>
        <p><i>Dès que je l’aperçois, alors je sens en moi, mon coeur qui bat</i>.</p>

        <p>
            About a beloved city, its inhabitants,<br />
            tolerance and vulnerability,<br />
            and the power of pink.<br />
        </p>

        <p>
            On March 22nd, Brussels was hit <br />
            Exactly there where she returned just as strong <br />
            with an unseen caliber of pow(d)er.<br />
        </p>
    </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_1.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_1.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_2.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_3.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_3.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_4.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_4.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_5.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_5.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_6.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_6.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_7.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_7.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_8.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_8.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_9.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_9.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_10.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_10.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_11.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_11.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_12.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_12.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_13.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_13.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_14.jpg" data-lightbox="image-1">
                        <img src="~/images/22-3enrose/MVPstorytellingstyling_22.3enRose_14.jpg" />
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Story & Styling: <strong>Marie Van Puyenbroeck</strong><br />
                Photography: <strong><a href="http://www.ddphotography.be/home.html" target="_blank">Dries Deschuttere</a></strong><br />
                Model: <strong>Isabelle – The Agent</strong><br />
                MUAH: <strong><a href="https://www.instagram.com/charlotte_blommaert/" target="_blank">Charlotte Blommaert</a></strong>
            </p>
        </div>
    </div>
</section>
