
@{
    ViewBag.Title = "Baby Boy";
}


<!-- Header -->
<header id="top" class="header-stories babyboy">
    <div class="text-vertical-center text-main">
        <h1>Baby Boy</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-1.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-1.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-2.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-11.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-11.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-7.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-7.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-5.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-5.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-3.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-3.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-8.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-8.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-6.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-6.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/babyboy/MVPStorytellingstyling_BB-10.jpg" data-lightbox="image-1">
                        <img src="~/images/babyboy/MVPStorytellingstyling_BB-10.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong>Vincent Van den Dries</strong><br />
                Model: <strong>Bjorn Schneider - Elite Models</strong><br />
                MUAH: <strong>Clara Bonnet</strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                <br />
                Concept by <strong>Vincent Van den Dries & Marie Van Puyenbroeck</strong>
            </p>
        </div>
    </div>
</section>
