
@{
    ViewBag.Title = "Everyone is growing";
}

<!-- Header -->
<header id="top" class="header-stories everyoneisgrowing">
    <div class="text-vertical-center text-main">
        <h1>Everyone Is Growing</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing152016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing152016.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing202016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing202016.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing182016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing182016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing312016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing312016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing82016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing82016.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing52016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing52016.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing302016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing302016.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing252016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing252016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing292016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing292016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/everyoneisgrowing/everyone_is_growing212016.jpg" data-lightbox="image-1">
                        <img src="~/images/everyoneisgrowing/everyone_is_growing212016.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong><a href="https://www.instagram.com/elienjansen/" target="_blank">Elien Jansen</a></strong><br />
                Models: <strong>Berte & Janne<br />Flag Models / Dominique Models - Max Models</strong><br />
                MUAH: <strong><a href="https://www.facebook.com/edgystudios" target="_blank">Yana Jacquemyn</a></strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                <br />
                Concept by <strong>Elien Jansen</strong>
            </p>
        </div>
    </div>
</section>
