
@{
    ViewBag.Title = "Nothing To Confess";
}


<!-- Header -->
<header id="top" class="header-stories nothingtoconfess">
    <div class="text-vertical-center text-main">
        <h1>Nothing To Confess</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="two-grid-item grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_1.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_1.jpg" />
                    </a>
                </div>
                <div class="two-grid-item grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_2.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_3.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_3.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_4.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_4.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_5.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_5.jpg" />
                    </a>
                </div>
                <div class="two-grid-item grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_6.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_6.jpg" />
                    </a>
                </div>
                <div class="two-grid-item grid-item">
                    <a href="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_7.jpg" data-lightbox="image-1">
                        <img src="~/images/nothingtoconfess/MVPStorytellingStyling_NTC_7.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong>Laura Knipsael</strong><br />
                Model: <strong>Timo Sassen</strong><br />
                MUA: <strong>Andreea Marandici</strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
            </p>
        </div>
    </div>
</section>
