
@{
    ViewBag.Title = "Puff Momma";
}

<!-- Header -->
<header id="top" class="header-stories puffmomma">
    <div class="text-vertical-center text-main">
        <h1>Puff Momma</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM1.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM1.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM10.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM10.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM8.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM8.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM3.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM3.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM7.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM7.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM6.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM6.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM2.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM2.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM9.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM9.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM5.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM5.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM11.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM11.jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/puffmomma/MVPStorytellingstyling_PM4.jpg" data-lightbox="image-1">
                        <img src="~/images/puffmomma/MVPStorytellingstyling_PM4.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong><a href="https://www.facebook.com/vincentvandendries" target="_blank">Vincent Van Den Dries</a></strong><br />
                Model: <strong>Francka Van Eeten - <a href="http://www.michamodels.nl" target="_blank">Micha Models</a></strong><br />
                MUAH: <strong><a href="https://www.instagram.com/aureliebekaert/" target="_blank">Aurélie Bekaert</a></strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                <br />
                Concept by <strong><a href="https://www.facebook.com/vincentvandendries" target="_blank">Vincent Van Den Dries</a></strong>
            </p>
        </div>
    </div>
</section>
