@{
    ViewBag.Title = "QolouredQuartet";
}
<!-- Header -->
<header id="top" class="header-stories qolouredquartet">
    <div class="text-vertical-center text-main">
        <h1>QolouredQuartet</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Story -->
@*<section id="story">
        <div class="text-vertical-top text-story">
            <h2></h2>
            <p>
                <strong>White [</strong> wait <strong>]; -</strong><br />
                <strong>I.</strong> an achromatic color, a color without hue,<br />
                <strong>II.</strong> associated with perfection, the good, honesty, cleanliness, the beginning, the new, neutrality – Purity<br />
                <strong>III.</strong> important color for almost all world religions<br />
            </p>
        </div>
    </section>*@
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/qolouredquartet/everyone_is_growing372016.jpg" data-lightbox="image-1">
                        <img src="~/images/qolouredquartet/everyone_is_growing372016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/qolouredquartet/everyone_is_growing462016.jpg" data-lightbox="image-1">
                        <img src="~/images/qolouredquartet/everyone_is_growing462016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/qolouredquartet/everyone_is_growing412016.jpg" data-lightbox="image-1">
                        <img src="~/images/qolouredquartet/everyone_is_growing412016.jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/qolouredquartet/everyone_is_growing402016.jpg" data-lightbox="image-1">
                        <img src="~/images/qolouredquartet/everyone_is_growing402016.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong><a href="https://www.instagram.com/elienjansen/" target="_blank">Elien Jansen</a></strong><br />
                Models: <strong>Berte & Janne<br />Dominique Models / Max Models</strong><br />
                MUAH: <strong><a href="https://www.facebook.com/edgystudios" target="_blank">Yana Jacquemyn</a></strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                <br />
                Concept by <strong>Elien Jansen</strong>
            </p>
        </div>
    </div>
</section>
