
@{
    ViewBag.Title = "Two Of A Kind";
}

<!-- Header -->
<header id="top" class="header-stories twoofakind">
    <div class="text-vertical-center text-main">
        <h1>Two Of A Kind</h1>
        <h3>MARIE VAN PUYENBROECK</h3>
        <br>
        <a href="#portfolio" class="btn btn-dark btn-lg">See concept</a>
    </div>
</header>
<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
            <div id="concept-container"></div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (4 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (4 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (5 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (5 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (7 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (7 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (3 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (3 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (9 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (9 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (12 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (12 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item two-grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (2 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (2 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (11 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (11 of 12).jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (1 of 1).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (1 of 1).jpg" />
                    </a>
                </div>
                <div class="grid-item">
                    <a href="~/images/twoofakind/MVPstorytellingstyling_TOAK (8 of 12).jpg" data-lightbox="image-1">
                        <img src="~/images/twoofakind/MVPstorytellingstyling_TOAK (8 of 12).jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- credits -->
<section id="credits">
    <div class="text-vertical-top">
        <div class="row text-credits">
            <p>
                Photography: <strong><a href="http://www.heatherdobson.com" target="_blank">Heather Dobson</a></strong><br />
                Models: <strong><a href="https://www.instagram.com/lara_luna_twins_models/" target="_blank">Lara & Luna Srithong</a></strong><br />
                MUAH: <strong><a href="https://www.instagram.com/aureliebekaert/" target="_blank">Aurélie Bekaert</a></strong><br />
                Styling: <strong>Marie Van Puyenbroeck</strong><br />
                <br />
                Clothing by <strong><a href="https://www.fredginger.com" target="_blank">Fred & Ginger</a>, 
                                    <a href="http://emelyvanimpe.be" target="_blank">Emely Van Impe</a>, 
                                    <a href="http://www.maxlola.com/maxlola/" target="_blank">Max & Lola</a>
                                    <a href="https://www.facebook.com/katenmuisbxl/" target="_blank">via Kat & Muis</a>
                            </strong>
            </p>
        </div>
    </div>
</section>
